body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}
#projects {
  background-color: #ffffff;
}

.card {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-primary {
  margin: 0 auto;
}
#skills {
  background-color: #e2edff;
}
